
<table summary="Page form fields">
 
  <%= f.hidden_field(:topic_id)%>
  <tr>
    <th><%= f.label(:add) %></th>
    <td><%= f.text_field(:add) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible) %></th>
    <td><%= f.text_field(:visible) %></td>
  </tr>
  <tr>
    <th><%= f.label(:priority) %></th>
    <td><%= f.text_field(:priority) %></td>
  </tr>
</table>



